#ai-btn
{
    position: fixed;
    background-color: rgb(0, 166, 255);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: none;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    transition: all 0.2s;
}

#ai-btn:hover
{
    transform: scale(1.1);
}

#ai-btn img
{
    filter: invert(1);
    width: 80%;
}

#ai-chat
{
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 65px;
    right: 0;
    margin-right: 15px;
    background-color: rgb(0, 166, 255);
    color: white;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.ai-chat-title
{
    background-color: rgb(0, 119, 255);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 5px;
    border: rgb(0, 26, 255) solid 3px !important;
    margin-bottom: 15px;
}

.ai-chat-title img
{
    width: 40px;
    filter: invert(1);
}

#ai-chat input
{
    margin-top: auto;
}

#ai-chat-ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    gap: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

#ai-chat-ul li
{
    align-self: flex-end;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
}

#ai-chat-ul::-webkit-scrollbar
{
    background: none;
}

#ai-chat-ul::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 10px;
}

/* #ai-chat-ul::-webkit-scrollbar-thumb:hover {
    background-color: #8b8b8b;
    opacity: 0.8;
    border-radius: 10px;
    transition: background-color 0.2s;
} */

.ai-out
{
    align-self: flex-start;
    background-color: rgb(0, 119, 255);
    margin-right: auto;
}

.usr-out
{
    background-color: rgb(113, 255, 243);
}

.open-chat
{
    opacity: 1;
    max-height: 300px;
    transition: all 0.2s;
    border-radius: 15px;
}

.close-chat
{
    opacity: 0;
    max-height: 0px;
    font-size: 0px;
    transition: all 0.2s;
}

#ai-chat-input
{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

#ai-chat-input:focus
{
    outline: none !important;
}

#ai-send-btn
{
    width: 30px;
    margin-left: 5px;
    filter: invert(1);
    transition: transform 0.2s;
}

#ai-send-btn:hover
{
    transform: scale(1.1);
}

.ai-chat-inp-container
{
    display: flex;
    flex-direction: row;
}