@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    margin: 0;
    font-family: "Raleway", sans-serif;
}

body
{
    background-color: #FB983D;
}

#navbar
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 214, 137);

    position: fixed;  /* <-- makes it stick to top */
    top: 0;           /* <-- top of viewport */
    left: 0;          /* <-- align to left edge */
    width: 100%;      /* <-- full width */
    z-index: 1000; 
}

#navbar #logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;   
}

#navbar #logo h1
{
    font-size: medium;
}

#navbar #logo img
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
}

#navbar_links
{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-end;
    
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#navbar_links button
{
    border-radius: 100px;
    border: none;
    font-weight: bold;
    background-color: #FB983D;
    transition: transform 0.1s;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#navbar_links button:hover
{
    transform: scale(1.1);
}

#navbar_links button img
{
    width: 18px;
    height: 18px;
}

.section
{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 5000px;
}

#info-container .down-arrow
{
    width: clamp(5vh, 10vh, 20vh);
    transition: all 0.3s;
}

#info-container .down-arrow:hover
{
    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(0%) hue-rotate(328deg) brightness(105%) contrast(100%);
    opacity: 50%;
}

#location-container, #contact-container
{
    background-color: rgb(255, 214, 137);
}

.location-address
{
    font-size: clamp(16px, 4vw, 32px);
}

#info
{
    font-size: xx-large;
    background-color: rgb(255, 214, 137);
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}

.section-title
{
    font-size: clamp(24px, 5vw, 50px);
    display: flex;
    align-items: center;
    text-decoration: underline;
    margin-bottom: 5%;
}

.section-title img
{
    width: clamp(24px, 6vw, 80px);
    margin-left: 20px;
}

.sub-title
{
    font-size: clamp(24px, 3vw, 80px);
    margin-bottom: 2%;
    margin-top: 2%;
}

#map-iframe
{
    border-radius: 20px;
    border: none;
    width: 80% !important;
    height: 60% !important;
}

.menu-items
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 20px;
}

.menu-items .item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: left;
    border-radius: 10px;
    font-size: 50%;
    width: 50%;
    padding: 20px;
    border-color: black;
    background-color: white;
    text-align: center;
}

.menu-items .item img
{
    width: 23%;
    border-radius: 10px;
}

.menu-items .item h1
{
    font-size: clamp(20px, 4vw, 70px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hours-open li
{
    font-size: clamp(24px, 3vw, 24px);
}

#ai-btn
{
    position: fixed;
    background-color: rgb(0, 166, 255);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: none;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    transition: all 0.2s;
}

#ai-btn:hover
{
    transform: scale(1.1);
}

#ai-btn img
{
    filter: invert(1);
    width: 80%;
}

#ai-chat
{
    position: fixed;
    display: flex;
    flex-direction: column;

    height: 10%;
    bottom: 65px;
    right: 0;
    text-align: right;
    margin-right: 15px;
    background-color: rgb(0, 166, 255);
    color: white;
    padding: 10px;
}

#ai-chat input
{
    margin-top: auto;
}

.open-chat
{
    opacity: 1;
    max-height: 300px;
    transition: all 0.2s;
    border-radius: 15px;
}

.close-chat
{
    opacity: 0;
    max-height: 0px;
    font-size: 0px;
    transition: all 0.2s;
}