@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    margin: 0;
    font-family: "Raleway", sans-serif;
}

body
{
    background-color: #FB983D;
}

#navbar
{
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 214, 137);

        position: fixed;  /* <-- makes it stick to top */
    top: 0;           /* <-- top of viewport */
    left: 0;          /* <-- align to left edge */
    width: 100%;      /* <-- full width */
    z-index: 1000; 
}

#navbar #logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar #logo h1
{
    font-size: medium;
}

#navbar #logo img
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
}

#navbar_links
{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#navbar_links button
{
    border-radius: 100px;
    border: none;
    font-weight: bold;
    background-color: #FB983D;
    transition: transform 0.1s;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: large;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#navbar_links button:hover
{
    transform: scale(1.1);
}

#navbar_links button img
{
    width: 18px;
    height: 18px;
}

.section
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#info-container h1
{
    font-size: clamp(5vh, 10vh, 20vh);
}

#location-container, #contact-container
{
    background-color: rgb(255, 214, 137);
}

.section-title
{
    font-size: 50px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    margin-bottom: 5%;
}

.section-title img
{
    width: 60px;
    margin-left: 20px;
}

.sub-title
{
    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 2%;
}

#info
{
    font-size: xx-large;
    background-color: rgb(255, 214, 137);
    padding: 20px;
    border-radius: 20px;
}

#map-iframe
{
    border-radius: 20px;
    border: none;
    width: 50% !important;
    height: 60% !important;
}

.menu-items
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;
}

.menu-items .item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    border-color: black;
    background-color: white;
    text-align: center;
}

.menu-items .item img
{
    width: 20%;
    border-radius: 10px;
}

.menu-items .item h1
{
    font-size: clamp(35px, 40px, 70px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hours-open
{
    font-size: xx-large;
}