@media (max-width: 1150px)
{
    .big-logo
    {
        margin-top: 100px;
    }
}

@media (max-width: 740px)
{
    .big-logo
    {
        margin-top: 200px;
    }
    
    #info
    {
        font-size: x-large;
    }
    .section
    {
        padding-bottom: 5%;
    }
}

@media (max-width: 450px)
{
    #info
    {
        font-size: large;
    }

    .big-logo
    {
        margin-top: 200px;
    }
}